<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
    <p><strong>Company Name:</strong> {{ about_info.application_name }}</p>
    <p><strong>Description:</strong> {{ about_info.description }}</p>
    <p><strong>Mission:</strong> {{ about_info.mission }}</p>
    <p><strong>Vision:</strong> {{ about_info.vision }}</p>
    <h3>Goals:</h3>
    <ul>
        {% for goal in about_info.goals %}
            <li>{{ goal }}</li>
        {% endfor %}
    </ul>
    <p><strong>Contact:</strong></p>
    <p>Email: {{ about_info.contact.email }}</p>
    <p>Phone: {{ about_info.contact.phone }}</p>
    
</body>
</html>